<div class="wrapper">
    <div class="certificate-form-block">
        <h2 class="title">GENERATE CERTIFICATE</h2>
        <form [formGroup]="loginForm" class="form-box" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label>Common Name</label>
                <input formControlName="subjectCommonName" type="text" placeholder="Enter your first and last name" />
                <div *ngIf="loginForm.get('subjectCommonName')?.invalid && loginForm.get('subjectCommonName')?.touched"
                    class="error">
                    Common name required.
                </div>
            </div>
            <div class="form-group">
                <label>Organization Name</label>
                <input formControlName="subjectOrganizationName" type="text" placeholder="Enter organization name" />
                <div *ngIf="loginForm.get('subjectOrganizationName')?.invalid && loginForm.get('subjectOrganizationName')?.touched"
                    class="error">
                    Organization name required.
                </div>
            </div>
            <div class="form-group">
                <label>Organizational unit</label>
                <input formControlName="subjectOrganizationalUnit" type="text"
                    placeholder="Enter organizational unit" />
                <div *ngIf="loginForm.get('subjectOrganizationalUnit')?.invalid && loginForm.get('subjectOrganizationalUnit')?.touched"
                    class="error">
                    Organizational unit required.
                </div>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input formControlName="subjectEmail" type="text" placeholder="Enter your email" />
                <div *ngIf="loginForm.get('subjectEmail')?.invalid && loginForm.get('subjectEmail')?.touched"
                    class="error">
                    Email required.
                </div>
            </div>
            <div class="form-group">
                <label>Country</label>
                <input formControlName="subjectCountry" type="text" placeholder="Enter your country" />
                <div *ngIf="loginForm.get('subjectCountry')?.invalid && loginForm.get('subjectCountry')?.touched"
                    class="error">
                    Country required.
                </div>
            </div>
            <div class="form-group">
                <label>Certificate password</label>
                <input formControlName="certificatePassword" type="password"
                    placeholder="Enter password for certificate" />
                <div *ngIf="loginForm.get('certificatePassword')?.invalid && loginForm.get('certificatePassword')?.touched"
                    class="error">
                    Password required.
                </div>
            </div>
            <div class="form-group">
                <label>Certificate valid from</label>
                <input formControlName="certificateValidFrom" type="datetime-local"
                    placeholder="Pick certification start of validating date" />
                <div *ngIf="loginForm.get('certificateValidFrom')?.invalid && loginForm.get('certificateValidFrom')?.touched"
                    class="error">
                    Valid from required.
                </div>
            </div>
            <div class="form-group">
                <label>Certificate valid to</label>
                <input formControlName="certificateValidTo" type="datetime-local"
                    placeholder="Pick certification end of validating date" />
                <div *ngIf="loginForm.get('certificateValidTo')?.invalid && loginForm.get('certificateValidTo')?.touched"
                    class="error">
                    Valid to required.
                </div>
            </div>
            <div class="form-group">
                <label>Issuer certificate</label>
                <select formControlName="foundCACertificates">
                    <option value="" disabled selected>Select CA Certificate to sign with</option>
                    <option *ngFor="let certificate of nonRevokedCACertificates" [ngValue]="certificate">
                        {{ certificate.subjectCommonName }} {{ certificate.serialNumber }}
                    </option>
                </select>
                <div *ngIf="loginForm.get('foundCACertificates')?.invalid && loginForm.get('foundCACertificates')?.touched"
                    class="error">
                    Issuer Certificate required.
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-block">
                    <label>Key Usage:</label>
                    <div class="checkbox-input">
                        <input formControlName="keyUsageDigitalSignature" type="checkbox" />
                        <p>Use for Digital Signature</p>
                    </div>
                    <div class="checkbox-input">
                        <input formControlName="keyUsageKeyEncipherment" type="checkbox" />
                        <p>Use for Key Encipherment</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-block">
                    <label>Extended Key Usage:</label>
                    <div class="checkbox-input">
                        <input formControlName="eKeyUsageServerAuth" type="checkbox" />
                        <p>ServerAuth</p>
                    </div>
                    <div class="checkbox-input">
                        <input formControlName="eKeyUsageClientAuth" type="checkbox" />
                        <p>ClientAuth</p>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn-primary generate-button">
                {{ isSubmitting ? 'Generating certificate...' : 'Generate certificate' }}
            </button>
        </form>

    </div>
</div>