.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

h1 {
  color: #3f51b5;
}

app-navbar-regular-user{
  position: fixed;
  width: 100%;
  top: 0;
}
