.certificates-list{
    margin-top: 150px;
    justify-self: center;
}

.home-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

h1 {
  color: #3f51b5;
}